@{ 
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var actionName = ViewBag.actionName;
    var routeObject = ViewBag.routeObject;
}

@section Styles {
    @RenderSection("Styles", false)    
}

@* Side Bar Goes Here *@
<div class="wrapper">
    <div class="sidebar-wrapper sidebar-fixed-top">
        <ul class="sidebar-nav">
            <li class="@(string.Equals(actionName,"Dashboard")?"active":"")">
                <a href="@Url.Action("Dashboard","User")">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x"></i></span> 基本資料
                </a>
            </li>
            <li class="@(string.Equals(actionName,"Albums")?"active":"")">
                <a href="@Url.Action("Albums","Image")" class="collapsed" data-toggle="collapse" data-target=".sidebar-subitems">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-image fa-stack-1x"></i></span> 胎兒映像
                </a>
            </li>
            <li class="@(string.Equals(actionName,"LabList")?"active":"")">
                <a href="@Url.Action("LabList", "Lab")" class="collapsed" data-toggle="collapse" data-target=".sidebar-subitems">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-flask fa-stack-1x"></i></span> 檢驗報告
                </a>
            </li>
            <li class="@(string.Equals(actionName,"MedList")?"active":"")">
                @*<a href="@Url.Action("MedList", "Med")" class="collapsed" data-toggle="collapse" data-target=".sidebar-subitems">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-medkit fa-stack-1x"></i></span> 用藥記錄(測試中)
                </a>*@
                <a href="#" class="collapsed" data-toggle="collapse" data-target=".sidebar-subitems">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-medkit fa-stack-1x"></i></span> 用藥記錄(建構中)
                </a>
            </li>
            <li class="@(string.Equals(actionName, "PregnancyList")?"active":"")">
                @*<a href="@Url.Action("PregnancyList", "Pregnancy")" class="collapsed" data-toggle="collapse" data-target=".sidebar-subitems">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-heartbeat fa-stack-1x"></i></span> 產檢紀錄(測試中)
                </a>*@
                <a href="#" class="collapsed" data-toggle="collapse" data-target=".sidebar-subitems">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-heartbeat fa-stack-1x"></i></span> 產檢紀錄(建構中)
                </a>
            </li>
            <li>
                <a href="#" class="collapsed" data-toggle="collapse" data-target=".sidebar-subitems">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-stethoscope fa-stack-1x"></i></span> 寶寶疫苗紀錄(建構中)
                </a>
            </li>
            @*<ul class="sidebar-subitems collapse">
                <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-caret-right fa-stack-1x"></i></span> Category I</a></li>
                <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-caret-right fa-stack-1x"></i></span> Category II</a></li>
            </ul>*@
        </ul>
    </div>
    <div class="page-content-wrapper">
        @*<div class="container body-content">*@
        @*<div class="row">*@
            @RenderBody()
        @*</div>*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 宏其醫療社團法人宏其婦幼醫院&nbsp;&nbsp;宏其i-care系統&nbsp;&nbsp;服務信箱:<a href="mailto:phr@hch.org.tw">phr@hch.org.tw</a>&nbsp;&nbsp;常見問題:<a href="@Url.Content("~/Content/pdf/QnA.pdf")" target="_blank">按此下載</a></p>
        </footer>
        @*</div>*@
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)    
}