@{ 
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Styles {
    @RenderSection("Styles",false)
}
<div class="container body-content">
    @*<div class="row">*@
        @RenderBody()
    @*</div>*@
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - 宏其醫療社團法人宏其婦幼醫院&nbsp;&nbsp;宏其i-care系統&nbsp;&nbsp;服務信箱:<a href="mailto:phr@hch.org.tw">phr@hch.org.tw</a>&nbsp;&nbsp;常見問題:<a href="@Url.Content("~/Content/pdf/QnA.pdf")" target="_blank">按此下載</a></p>
    </footer>
</div>

@section Scripts {
    @RenderSection("Scripts",false)    
}