@using HchWebPhr.Models.FormModels
@using HchWebPhr.Utilities.Helpers
@model SearchAlbumModel

@{
    Layout = "~/Views/Shared/_SideNavLayout.cshtml";
    ViewBag.Title = "影像檔";
    ViewBag.actionName = "Albums";
}

@section Styles {
    @Styles.Render("~/Content/css/bootstrap-datetimepicker")
    @Styles.Render("~/Content/css/load-spinner")
}

<ol class="breadcrumb">
    @*<li>@Html.ActionLink("首頁","Index","Home")</li>*@
    <li class="active">@ViewBag.Title</li>
</ol>
<div class="row">
    @using (Html.BeginForm("Albums", "Image", FormMethod.Post, new { @role = "form" }))
    {
        <div class="col-xxxs-12 col-sm-3">
            <div class="form-group">
                @Html.LabelFor(x => x.StartDate)
                <div class="input-group date datetime-picker" id="div_startdate">
                    @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                        @Html.TextBoxFor(x => x.TwStartDate,
                                 new { @id = Html.IdFor(x => x.TwStartDate), @class = "form-control date-input" })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.StartDate, "{0:yyyy/MM/dd}",
                                 new { @id = Html.IdFor(x => x.StartDate), @class = "form-control date-input" })
                    }
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
                @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                    @Html.HiddenFor(x => x.StartDate,
                                                new { @id = Html.IdFor(x => x.StartDate), @class = "form-control" })
                }
            </div>
        </div>
        <div class="col-xxxs-12 col-sm-3">
            <div class="form-group">
                @Html.LabelFor(x => x.EndDate)
                <div class="input-group date datetime-picker" id="div_enddate">
                    @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                        @Html.TextBoxFor(x => x.TwEndDate,
                                 new { @id = Html.IdFor(x => x.TwEndDate), @class = "form-control date-input" })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.EndDate, "{0:yyyy/MM/dd}",
                                 new { @id = Html.IdFor(x => x.EndDate), @class = "form-control date-input" })
                    }
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
                @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                    @Html.HiddenFor(x => x.EndDate,
                                                new { @id = Html.IdFor(x => x.EndDate), @class = "form-control" })
                }
            </div>
        </div>
        <div class="col-xxxs-12 col-sm-3">
            @Html.HiddenFor(x => x.ExamCode)
        </div>
        <div class="col-xxxs-12 col-sm-3">
            @Html.HiddenFor(x => x.ExamType)
        </div>
    }
</div>
<div class="row">
    <div class="col-xxxs-12">
        @*@Html.Raw(HttpUtility.HtmlDecode(ViewBag.Remark))*@
        <h5>備註：</h5>
        <p>1.提供105年8月1日起所拍攝的【4D立體彩色超音波】、【高層次超音波】、【NT早期頸部透明帶超音波檢查】。</p>
        <p>2.提供105年11月1日起其他產檢影像及胚胎顯微檢查。</p>
        <p>3.下載胎兒映像照片的教學影片出爐囉! (<a href="https://youtu.be/bTEZSOrekJw" target="_blank">iOS版</a>) (<a href="https://youtu.be/PBvAsco3GN8" target="_blank">android版</a>)</p>
    </div>
</div>
<div class="row">
    <div id="div_albumlist"></div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/js/bootstrap-datetimepicker")
    @Scripts.Render("~/Content/js/load-spinner")

    <script type="text/javascript">
        function refreshSearchResults() {
            @*var startDate = $("#@Html.IdFor(x => x.StartDate)").datetimepicker('getDate');
            var endDate = $("#@Html.IdFor(x => x.EndDate)").datetimepicker('getDate');*@
            var sdpicker = $(".datetime-picker")[0];
            var edpicker = $(".datetime-picker")[1];

            var startDate = $(sdpicker).datetimepicker('getDate');
            var endDate = $(edpicker).datetimepicker('getDate');

            var strStartDate = startDate.getFullYear() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getDate();
            var strEndDate = endDate.getFullYear() + '/' + (endDate.getMonth() + 1) + '/' + endDate.getDate();
            @*var strStartDate = $("#@Html.IdFor(x => x.StartDate)").val();
            var strEndDate = $("#@Html.IdFor(x => x.EndDate)").val();*@
            $("#div_albumlist").html("");
            isNoResult = true;

            showLoading('載入中...');
            searchResult(strStartDate, strEndDate);
        }

        function searchResult(startDate, endDate) {
            var searchUrl = '@(Url.Action("GetAlbums", "Image"))';
            var div_id = "#div_albumlist";
            var isEmpty = false;
            $.ajax({
                method: 'Get',
                url: searchUrl,
                data: { StartDate: startDate, EndDate: endDate },
                cache: false,
                success: function (data) {
                    $(div_id).html(data);
                },
                fail: function () {
                    $(div_id).html("<h2 class='center-block'>載入影像失敗，請聯絡系統管理員！</h2>");
                },
                complete: function () {
                    checkImageAvailable();
                    hideLoading();
                },
                async: true
            });
        }

        function checkImageAvailable() {
            $(".img-thumbnail").on("error", function (e) {
                this.src = '@Url.Content("~/Content/img/noimage.png")';
            });
        }

        $(function () {
            var today = new Date();
            var minDate = new Date('2016-08-01')

            $(".datetime-picker").datetimepicker({
                @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                    {
                        <text>format: "yyy/mm/dd",</text>
                    }
                else
                {
                    <text>format: "yyyy/mm/dd",</text>
                }
                startView: 2,
                minView: 2,
                startDate: minDate,
                endDate: today,
                todayBtn: true,
                todayHighlight: true,
                forceParse: true,
                autoclose: true,
                pickerPosition: 'bottom-left',
                keyboardNavigation: false,
                language: 'zh-TW'
            }).on('changeDate', function (ev) {
                @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                    <text>
                var date = ev.date.getFullYear() + '/' + (ev.date.getMonth() + 1) + '/' + ev.date.getDate();
                var inputId = $(ev.currentTarget).attr('id');
                switch (inputId) {
                    case "div_startdate":
                        $("#@Html.IdFor(x => x.StartDate)").val(date);
                        break;
                    case "div_enddate":
                        $("#@Html.IdFor(x => x.EndDate)").val(date);
                        break;
                }
                </text>
                }
                refreshSearchResults();
            });


            @*$("#@Html.IdFor(x => x.StartDate)").datetimepicker({
                @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                    <text>format: "yyy/mm/dd",</text>
                }
                else
                {
                    <text>format: "yyyy/mm/dd",</text>
                }
                startView: 2,
                minView: 2,
                startDate: minDate,
                endDate: today,
                todayBtn: true,
                todayHighlight: true,
                forceParse: true,
                autoclose: true,
                pickerPosition: 'bottom-left',
                keyboardNavigation: false,
                language: 'zh-TW'
            }).on('changeDate', function (ev) {
                refreshSearchResults();
            });*@

            @*$("#@Html.IdFor(x => x.EndDate)").datetimepicker({
                @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                    <text>format: "yyy/mm/dd",</text>
                }
                else
                {
                    <text>format: "yyyy/mm/dd",</text>
                }
                startView: 2,
                minView: 2,
                startDate: minDate,
                endDate: today,
                todayBtn: true,
                todayHighlight: true,
                forceParse: true,
                autoclose: true,
                pickerPosition: 'bottom-left',
                keyboardNavigation: false,
                language: 'zh-TW'
            }).on('changeDate', function (ev) {
                refreshSearchResults();
            });*@

            $(".date-input").change(function () {
                var inputId = $(this).attr('id');
                var dtpicker = null;
                var hiddenId = "";
                @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                    <text>
                switch (inputId) {
                    case "@Html.IdFor(x => x.TwStartDate)":
                        dtpicker = $('.datetime-picker')[0];
                        hiddenId = '@Html.IdFor(x => x.StartDate)';
                        break;
                    case "@Html.IdFor(x => x.TwEndDate)":
                        dtpicker = $('.datetime-picker')[1];
                        hiddenId = '@Html.IdFor(x => x.EndDate)';
                        break;
                }
                </text>
                } else
                {
                    <text>
                switch (inputId) {
                    case "@Html.IdFor(x => x.StartDate)":
                        dtpicker = $('.datetime-picker')[0];
                        break;
                    case "@Html.IdFor(x => x.EndDate)":
                        dtpicker = $('.datetime-picker')[1];
                        break;
                }
                </text>
                }
                $(dtpicker).datetimepicker('update');
                @if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
                {
                    <text>
                var date = $(dtpicker).datetimepicker('getDate');
                var strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
                $('#' + hiddenId).val(strDate);
                </text>
                }
                @*$("#@Html.IdFor(x => x.StartDate)").datetimepicker("update");
                $("#@Html.IdFor(x => x.EndDate)").datetimepicker("update");*@
                refreshSearchResults();
            });

            refreshSearchResults();
        });
    </script>
}