@using HchWebPhr.Models.ViewModels
@using HchWebPhr.Utilities.Helpers
@using HchWebPhr.Utilities.Extensions

@model PhotoAlbumInfo

@{
    Layout = "~/Views/Shared/_SideNavLayout.cshtml";
    ViewBag.Title = "影像檔";
    ViewBag.actionName = "Albums";
}

@section Styles {
    @Styles.Render("~/Content/css/photoswipe")
}

<ol class="breadcrumb">
    @*<li>@Html.ActionLink("首頁", "Index", "Home")</li>*@
    <li>@Html.ActionLink((string)ViewBag.Title, "Albums", "Image")</li>
    @if (Model == null || Model.ExamDate == null)
    {
        <li class="active">None</li>
    }
    else
    {
        if (ConfigHelper.GetBoolean("USE_TAIWAN_YEAR"))
        {
            <li class="active">@Model.ExamDate.toTaiwanDate() - @Model.ExamName</li>
        }
        else
        {
            <li class="active">@Model.ExamDate.ToString("yyyy/MM/dd") - @Model.ExamName</li>
        }
    }


</ol>
<div class="row">
    <div id="div_photolist">
        @if (Model == null || Model.Photos == null || Model.Photos.Count <= 0)
        {
            <div class="col-xxxs-12">
                <p class="lead">找不到影像資料，請聯絡宏其婦幼醫院確認是否影像仍在製作中！</p>
            </div>
        }
        else
        {
            foreach (var photo in Model.Photos)
            {
                var imageFileFolder = photo.FileFolder.Trim('/');
                var imageFileName = photo.FileName.Trim('/');
                var imageUrl = string.Format("~/Content/img/albums/{0}/{1}", imageFileFolder, imageFileName);
                if (string.IsNullOrEmpty(imageFileFolder) || string.IsNullOrEmpty(imageFileName))
                {
                    imageUrl = "~/Content/img/noimage.png";
                }

                <div class="col-xxxs-12 col-xxs-6 col-sm-4 col-md-3 col-lg-2">
                    @*<a href="#" class="btn-image">*@
                        <img class="img-thumbnail img-responsive center-block" src="@Url.Content(imageUrl)" />
                    @*</a>*@
                    @*<h4 class="center-block" style="text-align: center; min-height: 60px;">@imageFileName</h4>*@
                </div>
            }
        }
    </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Content/js/photoswipe")

    <script type="text/javascript">
        //var imgList = [];
        //var photoswipe = null;

        function getNaturalSize(idx, elm, callback) {
            if (elm) {
                if (elm.naturalWidth) {
                    var oriSize = { width: elm.naturalWidth, height: elm.naturalHeight };
                    callback(idx, oriSize);
                    return true;
                } else {
                    var img = new Image();
                    img.onload = function (e) {
                        var oriSize = {width: img.width, height: img.height };
                        callback(idx, oriSize)
                        return true;
                    };
                    img.src = elm.src;
                }
            } else {
                return false;
            }
        }

        function loadPhotoSwipeImage(imgList) {
            $(".img-thumbnail").each(function (idx, elm) {
                if (elm) {
                    var photoItem = { src: elm.src, w: 0, h: 0 };
                    imgList.push(photoItem);
                    getNaturalSize(idx, elm, setPhotoSize);
                }
            });

            //var pswp = $(".pswp")[0];
            //var options = {
            //    index: 0
            //};
            //photoswipe = new PhotoSwipe(pswp, PhotoSwipeUI_Default, imgList, options);
        }

        //function setPhotoSize(idx, size) {
        //    var photo = imgList[idx];
        //    if (photo) {
        //        photo.w = size.width;
        //        photo.h = size.height;
        //    }
        //}

        $(function () {
            var imgList = [];

            var setPhotoSize = function (idx, size) {
                var photo = imgList[idx];
                if (photo) {
                    photo.w = size.width;
                    photo.h = size.height;
                }
            };
            
            var loadImage = function (ImageList) {
                $(".img-thumbnail").each(function (idx, elm) {
                    if (elm) {
                        var photoItem = { src: elm.src, w: 0, h: 0 };
                        ImageList.push(photoItem);
                        getNaturalSize(idx, elm, setPhotoSize);
                    }
                });
            };

            //$(".img-thumbnail").each(function (idx, elm) {
            //    if (elm) {
            //        var photoItem = { src: elm.src, w: 0, h: 0 };
            //        imgList.push(photoItem);
            //        getNaturalSize(idx, elm, setPhotoSize);
            //    }
            //});

            $(".img-thumbnail").on("error", function (e) {
                this.src = '@Url.Content("~/Content/img/noimage.png")';
            });

            $(window).load(function (e) {
                $(this).queue(function () {
                    loadImage(imgList);
                    $(this).dequeue();
                }).queue(function () {
                    $(".img-thumbnail").click(function () {
                        //imgList = [];

                        var idx = $(".img-thumbnail").index(this);
                        var pswp = $(".pswp")[0];
                        var options = {
                            index: 0
                        };
                        var photoswipe = new PhotoSwipe(pswp, PhotoSwipeUI_Default, imgList, options);
                        photoswipe.init();
                        photoswipe.goTo(idx);
                    });
                    $(this).dequeue();
                });
            });
        });
    </script>
}