@using HchWebPhr.Models.ViewModels

@model LabItemSInfo

@{
    Layout = "~/Views/Shared/_SideNavLayout.cshtml";
    ViewBag.Title = "檢驗結果";
    //ViewBag.actionName = "LabList";
    string videoContentPath = "~/Content/video";
    string finalVideoFilePath = "";
    if (string.IsNullOrEmpty(Model.VideoFilePath))
    {
        finalVideoFilePath = videoContentPath + "/nofile.mp4";
    } else
    {
        if (Model.IsExpired)
        {
            finalVideoFilePath = videoContentPath + "/expired.mp4";
        } else
        {
            finalVideoFilePath = videoContentPath + "/semenvideo/" + Model.VideoFilePath;

        }
    }
}
<ol class="breadcrumb">
    <li>@Html.ActionLink((string)ViewBag.actionTitle, (string)ViewBag.actionName, (string)ViewBag.controlName)</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="row">
    <div class="col-xxxs-12">
        <div class="embed-responsive embed-responsive-16by9">
        </div>
        @if (!string.IsNullOrEmpty(Model.VideoFilePath) && !Model.IsExpired)
        {
            <a href="@Url.Content(finalVideoFilePath)" download="@(Model.VideoFilePath)">下載影像</a>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.get('@Url.Content(finalVideoFilePath)').
                done(function (data) {
                    var htmlObj = '<video controls autoplay>' +
                                    '<source src="@Url.Content(finalVideoFilePath)" type="video/mp4">' +
                                    '<p>您的瀏覽器不支援使用Video Player，請按<a href="@Url.Content(finalVideoFilePath)">下載檔案</a></p>' +
                                  '</video>';
                    $(".embed-responsive").html(htmlObj);
                }).
                fail(function () {
                    var htmlObj = '<div class="alert alert-danger">' +
                                    '<p>@(Model.IsExpired ? "您的報告已超過一個月的瀏覽期限 !!" : "您的報告尚未完成, 請稍後再試 !!")</p>' +
                                  '</div>';
                    $(".embed-responsive").html(htmlObj);
                });
        });
    </script>
}