@using HchWebPhr.Models.ViewModels

@model LabItemSInfo

@{
    Layout = "~/Views/Shared/_SideNavLayout.cshtml";
    ViewBag.Title = "檢驗結果";
    //ViewBag.actionName = "LabList";
    string videoContentPath = "~/Content/video";
    string finalVideoFilePath = "";
    if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.VideoFilePath))
        {
            finalVideoFilePath = videoContentPath + "/semenvideo/" + Model.VideoFilePath;
        }
    }
}
<ol class="breadcrumb">
    <li>@Html.ActionLink((string)ViewBag.actionTitle, (string)ViewBag.actionName, (string)ViewBag.controlName)</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="row">
    <div class="col-xxxs-12">
        <div class="embed-responsive embed-responsive-16by9">
            @*@if (string.IsNullOrEmpty(finalVideoFilePath))
            {
                <div class="alert alert-danger">
                    <p>找不到對應的影像檔案</p>
                </div>
            }
            else
            {
                <video controls autoplay>
                    <source src="@finalVideoFilePath" type="video/mp4">
                    <p>您的瀏覽器不支援使用Pdf Reader，請按<a href="@Url.Content(finalVideoFilePath)">下載檔案</a></p>
                </video>
            }*@
            @*<object data="@Url.Content(finalPdfFilePath)" type="application/pdf">
                    <p>您的瀏覽器不支援使用Pdf Reader，請按<a href="@Url.Content(finalPdfFilePath)">下載檔案</a></p>
                </object>*@
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.get('@Url.Content(finalVideoFilePath)').
                done(function (data) {
                    var htmlObj = '<video controls autoplay>' +
                                    '<source src="@Url.Content(finalVideoFilePath)" type="video/mp4">' +
                                    '<p>您的瀏覽器不支援使用Video Player，請按<a href="@Url.Content(finalVideoFilePath)">下載檔案</a></p>' +
                                  '</video>';
                    $(".embed-responsive").html(htmlObj);
                }).
                fail(function () {
                    var htmlObj = '<div class="alert alert-danger">' +
                                    '<p>找不到對應的影像檔案</p>' +
                                  '</div>';
                    $(".embed-responsive").html(htmlObj);
                });
        });
    </script>
}