@using HchWebPhr.Models.ViewModels

@model LabItemGInfo

@{
    Layout = "~/Views/Shared/_SideNavLayout.cshtml";
    ViewBag.Title = "檢驗結果";
    //ViewBag.actionName = "LabList";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink((string)ViewBag.actionTitle, (string)ViewBag.actionName, (string)ViewBag.controlName)</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="row">
    <div class="col-xxxs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">檢驗診斷</h4>
            </div>
            <div class="panel-body">
                <p>
                    @{
                        var diagnosis = String.IsNullOrEmpty(Model.Diagnosis) ?
                            new string[] { } : Model.Diagnosis.Split('\n');
                        if (diagnosis == null || diagnosis.Length <= 0)
                        {
                            @("檢驗尚在進行中,如有疑問請聯繫醫院,謝謝。")
                        }
                        else
                        {
                            @(string.Join("<br />", diagnosis))
                        }
                    }
                </p>
            </div>
        </div>
    </div>
    <div class="col-xxxs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">建議處置</h4>
            </div>
            <div class="panel-body">
                <p>
                    @{
                        var comment = String.IsNullOrEmpty(Model.Comment) ?
                            new string[] { } : Model.Comment.Split('\n');
                        if (comment == null || comment.Length <= 0)
                        {
                            @("檢驗尚在進行中,如有疑問請聯繫醫院,謝謝。")
                        }
                        else
                        {
                            @(string.Join("<br />", comment))
                        }
                    }
                </p>
            </div>
        </div>
    </div>
</div>