@using HchWebPhr.Models.FormModels
@using HchWebPhr.CaptchaLib

@model ForgetPasswordModel

@{
    Layout = "~/Views/Shared/_TopNavLayout.cshtml";
    ViewBag.Title = "忘記密碼";
    ViewBag.TopBarOnly = true;
}

<h3 class="page-header">忘記密碼</h3>
<div class="row">
    <div class="col-xxxs-push-0 col-xxxs-12 col-xs-push-1 col-xs-10 col-sm-push-3 col-sm-6">
        <p class="lead"><span class="fa fa-caret-down"></span> 請輸入註冊時的EMail：</p>
        <div class="row">
            <div class="col-xxxs-12">
                @using (Html.BeginForm("ForgetPassword",
                           "Account",
                           FormMethod.Post,
                           new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @*<form role="form" class="form-horizontal">*@
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName,
                                       new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                        <div class="col-xxxs-12 col-sm-7 col-md-8">
                            @Html.TextBoxFor(x => x.UserName,
                                             new { @id = Html.IdFor(x => x.UserName), @class = "form-control", @editable = false})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.EMail,
                                           new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                        @*<label class="col-xxs-12 col-sm-5 col-md-4 control-label">
                                病歷號或身分證號：
                            </label>*@
                        @if (ViewData.ModelState["EMail"] != null && ViewData.ModelState["EMail"].Errors.Count > 0)
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8 has-error has-feedback">
                                @Html.TextBoxFor(x => x.EMail,
                                                 new { @id = Html.IdFor(x => x.EMail), @class = "form-control" })
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputError2Status" class="sr-only">(error)</span>
                                @Html.ValidationMessageFor(x => x.EMail, null, new { @class = "control-label" })
                            </div>
                        }
                        else
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8">
                                @Html.TextBoxFor(x => x.EMail,
                                                 new { @id = Html.IdFor(x => x.EMail), @class = "form-control" })
                                @*<input type="text" class="form-control" />*@
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ValidCode,
                                           new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                        @*<label class="col-xxs-12 col-sm-5 col-md-4 control-label">驗證碼：</label>*@
                        @if (ViewData.ModelState["ValidCode"] != null && ViewData.ModelState["ValidCode"].Errors.Count > 0)
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8 has-error has-feedback">
                                @Html.CaptchaFor(x => x.ValidCode, "GetCaptcha", "Account", null, "Refresh Captcha",
                                                 new { @id = Html.IdFor(x => x.ValidCode), @class = "form-control", @maxlength = "5", @autocomplete = "false" })
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputError2Status" class="sr-only">(error)</span>
                                @Html.ValidationMessageFor(x => x.ValidCode, null, new { @class = "control-label" })
                            </div>

                        }
                        else
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8">
                                @Html.CaptchaFor(x => x.ValidCode, "GetCaptcha", "Account", null, "Refresh Captcha",
                                                 new { @id = Html.IdFor(x => x.ValidCode), @class = "form-control", @maxlength = "5", @autocomplete = "false" })
                            </div>
                        }
                    </div>
                    if (ViewBag.ErrorCode != null)
                    {
                        <div class="form-group">
                            <div class="col-xxxs-12 col-md-4"></div>
                            <div class="col-xxxs-12 col-md-8">
                                <div class="alert alert-danger">
                                    <strong>錯誤:</strong>
                                    @(ViewBag.ErrorCode + " - " + ViewBag.ErrorMessage)
                                </div>
                                @*<center>
                                        <img class="img-responsive" src="img/400X70.png" />
                                    </center>*@
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-xxxs-12 col-md-4"></div>
                        <div class="col-xxxs-12 col-md-8" style="padding: 0px;">
                            <div class="col-xxxs-6">
                                @Html.ActionLink("取消",
                                                 "Login",
                                                 "Account",
                                                 new { @class = "btn btn-default btn-block" })
                                @*<button type="button" class="btn btn-default btn-block">重來</button>*@
                            </div>
                            <div class="col-xxxs-6">
                                <button type="submit" class="btn btn-primary btn-block">重設密碼</button>
                            </div>
                        </div>
                    </div>
                    @*</form>*@
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            @foreach(KeyValuePair<String, ModelState> field in ViewData.ModelState)
            {
                var field_id = field.Key;
                var field_obj = field.Value;
                var field_err = "";
                foreach (ModelError Err in field_obj.Errors)
                {
                    field_err = field_err + Err.ErrorMessage + "\\n";
                }
                <text>
                    $("#@field_id").popover({
                        animation: true,
                        content: '@field_err',
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                    });
                </text>
            }
        });
    </script>    
}

