@using HchWebPhr.Models.FormModels
@using HchWebPhr.CaptchaLib

@model LoginModel

@{
    Layout = "~/Views/Shared/_TopNavLayout.cshtml";
    ViewBag.Title = "登入";
    ViewBag.TopBarOnly = true;
}
<h3 class="page-header">登入</h3>
<div class="row">
    @*<div class="col-xxxs-push-0 col-xxxs-12 col-xs-push-1 col-xs-10 col-sm-push-3 col-sm-6">*@
    <div class="col-xxxs-12 col-sm-push-6 col-sm-6">
        <p class="lead"><span class="fa fa-caret-down"></span> 請輸入帳號密碼：<small>(第一次使用請先<a href="@Url.Action("SignUp", "Account")"><strong>註冊帳號</strong></a>)</small></p>
        <div class="row">
            <div class="col-xxxs-12">
                @using (Html.BeginForm("Login",
                                   "Account",
                                   new { returnUrl = ViewBag.returnUrl },
                                   FormMethod.Post,
                                   new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName,
                                       new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                        @if (ViewData.ModelState["UserName"] != null && ViewData.ModelState["UserName"].Errors.Count > 0)
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8 has-error has-feedback">
                                @Html.TextBoxFor(x => x.UserName,
                                                 new { @id = Html.IdFor(x => x.UserName), @class = "form-control" })
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputError2Status" class="sr-only">(error)</span>
                                @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "control-label"})
                            </div>
                        }
                        else
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8">
                                @Html.TextBoxFor(x => x.UserName,
                                                 new { @id = Html.IdFor(x => x.UserName), @class = "form-control" })
                            </div>
                        }
                        @Html.ActionLink("忘記帳號?", "ForgetUserName", "Account", null, new { @class = "col-xxxs-12 col-sm-push-5 col-sm-7 col-md-push-4 col-md-8" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password,new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                        @if (ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors.Count > 0)
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8 has-error has-feedback">
                                @Html.PasswordFor(x => x.Password,
                                                  new { @id = Html.IdFor(x => x.Password), @class = "form-control" })
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputError2Status" class="sr-only">(error)</span>
                                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "control-label" })
                            </div>

                        }
                        else
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8">
                                @Html.PasswordFor(x => x.Password,
                                                    new { @id = Html.IdFor(x => x.Password), @class = "form-control" })
                            </div>
                        }
                        @Html.ActionLink("忘記密碼?", "ForgetPassword", "Account", null, new { @class = "col-xxxs-12 col-sm-push-5 col-sm-7 col-md-push-4 col-md-8"})
                    </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ValidCode,
                                           new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                            @if (ViewData.ModelState["ValidCode"] != null && ViewData.ModelState["ValidCode"].Errors.Count > 0)
                            {
                                <div class="col-xxxs-12 col-sm-7 col-md-8 has-error has-feedback">
                                    @Html.CaptchaFor(x => x.ValidCode, "GetCaptcha", "Account", null, "Refresh Captcha",
                                                 new { @id = Html.IdFor(x => x.ValidCode), @class = "form-control", @maxlength = "5", @autocomplete = "false" })
                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputError2Status" class="sr-only">(error)</span>
                                    @Html.ValidationMessageFor(x => x.ValidCode, null, new { @class = "control-label" })
                                </div>

                            }
                            else
                            {
                                <div class="col-xxxs-12 col-sm-7 col-md-8">
                                    @Html.CaptchaFor(x => x.ValidCode, "GetCaptcha", "Account", null, "Refresh Captcha",
                                                 new { @id = Html.IdFor(x => x.ValidCode), @class = "form-control", @maxlength = "5", @autocomplete = "false" })
                                </div>
                            }
                        </div>
                    if (ViewBag.ErrorCode != null)
                    {
                        <div class="form-group">
                            <div class="col-xxxs-12 col-md-4"></div>
                            <div class="col-xxxs-12 col-md-8">
                                <div class="alert alert-danger">
                                    <strong>錯誤:</strong>
                                    @(ViewBag.ErrorCode + " - " + ViewBag.ErrorMessage)
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-xxxs-12 col-md-4"></div>
                        <div class="col-xxxs-12 col-md-8">
                            <div class="row">
                                <div class="col-xxxs-6">
                                    @Html.ActionLink("重來", "Login", "Account", null, new { @class = "btn btn-default btn-block" })
                                </div>
                                <div class="col-xxxs-6">
                                    <button type="submit" class="btn btn-primary btn-block">登入</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxxs-12 visible-xs-block">
                                    @Html.ActionLink("我要註冊",
                                                 "SignUp",
                                                 "Account",
                                                 null,
                                                 new { @class = "btn btn-success btn-block" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-xxxs-12 col-sm-pull-6 col-sm-6">
        <blockquote>
            <p class="lead">宏其 i-care 提供您在宏其婦幼的胎兒映像@*、檢驗報告*@、婦科抹片、人類乳突病毒與新柏氏抹片檢驗報告，讓您隨時可在各類行動裝置或電腦查詢屬於您個人化健康管理。</p>
            @*<footer style="color: black;">宏其醫療社團法人宏其婦幼醫院</footer>*@
        </blockquote>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            @foreach(KeyValuePair<String, ModelState> field in ViewData.ModelState)
            {
                var field_id = field.Key;
                var field_obj = field.Value;
                var field_err = "";
                foreach (ModelError Err in field_obj.Errors)
                {
                    field_err = field_err + Err.ErrorMessage + "\\n";
                }
                <text>
                    $("#@field_id").popover({
                        animation: true,
                        content: '@field_err',
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                    });
                </text>
            }

            $('form').submit(function () {
                showLoading('登入中...');
            });
        });
    </script>
}