@using HchWebPhr.Models.FormModels

@model UpdatePasswordModel

@{ 
    var PageHeader = "";
    var FormActionName = "";
    object RouteValue = null;
    if (ViewBag.IsResetPassword)
    {
        Layout = "~/Views/Shared/_TopNavLayout.cshtml";
        ViewBag.Title = "重設密碼";
        FormActionName = "ResetPassword";
        RouteValue = new { UserName = ViewBag.UserName };
        ViewBag.TopBarOnly = true;
    } else
    {
        Layout = "~/Views/Shared/_SideNavLayout.cshtml";
        ViewBag.Title = "更新密碼";
        FormActionName = "UpdatePassword";
    }
    PageHeader = ViewBag.Title;
}
<h3 class="page-header">@PageHeader</h3>
<div class="row">
    <div class="col-xxxs-push-0 col-xxxs-12 col-xs-push-1 col-xs-10 col-sm-push-3 col-sm-6">
        <p class="lead"><span class="fa fa-caret-down"></span> 請輸入以下資訊：</p>
        <div class="row">
            <div class="col-xxxs-12">
                @using (Html.BeginForm(FormActionName,
                                       "Account",
                                       RouteValue,
                                       FormMethod.Post,
                                       new { @role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    if (ViewBag.IsResetPassword)
                    {
                        @Html.HiddenFor(x => x.Password, new { @id = Html.IdFor(x => x.Password), @class = "form-control" })
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.LabelFor(x => x.Password,
                                           new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                            @if (ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors.Count > 0)
                            {
                                <div class="col-xxxs-12 col-sm-7 col-md-8 has-error has-feedback">
                                    @Html.PasswordFor(x => x.Password,
                                                    new { @id = Html.IdFor(x => x.Password), @class = "form-control" })
                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                    <span id="inputError2Status" class="sr-only">(error)</span>
                                    @Html.ValidationMessageFor(x => x.Password, null, new { @class = "control-label" })
                                </div>
                            }
                            else
                            {
                                <div class="col-xxxs-12 col-sm-7 col-md-8">
                                    @Html.PasswordFor(x => x.Password,
                                                    new { @id = Html.IdFor(x => x.Password), @class = "form-control" })
                                    @*<input type="text" class="form-control" />*@
                                </div>
                            }
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(x => x.NewPassword,
                                           new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                        @if (ViewData.ModelState["NewPassword"] != null && ViewData.ModelState["NewPassword"].Errors.Count > 0)
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8 has-error has-feedback">
                                @Html.PasswordFor(x => x.NewPassword,
                                                 new { @id = Html.IdFor(x => x.NewPassword), @class = "form-control" })
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputError2Status" class="sr-only">(error)</span>
                                @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "control-label" })
                            </div>
                        }
                        else
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8">
                                @Html.PasswordFor(x => x.NewPassword,
                                                 new { @id = Html.IdFor(x => x.NewPassword), @class = "form-control" })
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ReNewPassword,
                                           new { @class = "col-xxxs-12 col-sm-5 col-md-4 control-label" })
                        @if (ViewData.ModelState["ReNewPassword"] != null && ViewData.ModelState["ReNewPassword"].Errors.Count > 0)
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8 has-error has-feedback">
                                @Html.PasswordFor(x => x.ReNewPassword,
                                                 new { @id = Html.IdFor(x => x.ReNewPassword), @class = "form-control" })
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputError2Status" class="sr-only">(error)</span>
                                @Html.ValidationMessageFor(x => x.ReNewPassword, null, new { @class = "control-label" })
                            </div>
                        }
                        else
                        {
                            <div class="col-xxxs-12 col-sm-7 col-md-8">
                                @Html.PasswordFor(x => x.ReNewPassword,
                                                 new { @id = Html.IdFor(x => x.ReNewPassword), @class = "form-control" })
                            </div>
                        }
                    </div>
                    if (ViewBag.ErrorCode != null)
                    {
                        <div class="form-group">
                            <div class="col-xxxs-12 col-md-4"></div>
                            <div class="col-xxxs-12 col-md-8">
                                <div class="alert alert-danger">
                                    <strong>錯誤:</strong>
                                    @(ViewBag.ErrorCode + " - " + ViewBag.ErrorMessage)
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-xxxs-12 col-md-4"></div>
                        <div class="col-xxxs-12 col-md-8" style="padding: 0px;">
                            <div class="col-xxxs-6">
                                @Html.ActionLink("重來",
                                                 FormActionName,
                                                 "Account",
                                                 RouteValue,
                                                 new { @class = "btn btn-default btn-block" })
                            </div>
                            <div class="col-xxxs-6">
                                <button type="submit" class="btn btn-primary btn-block">更新密碼</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            @foreach(KeyValuePair<String, ModelState> field in ViewData.ModelState)
            {
                var field_id = field.Key;
                var field_obj = field.Value;
                var field_err = "";
                foreach (ModelError Err in field_obj.Errors)
                {
                    field_err = field_err + Err.ErrorMessage + "\\n";
                }
                <text>
                    $("#@field_id").popover({
                        animation: true,
                        content: '@field_err',
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                    });
                </text>
            }
        });
    </script>
}